.menu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-block {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.input-block__input,
.input-block__label {
  cursor: pointer;
}
